.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


h1{
    font-size: 40px;
    text-align-last: center;
    margin-bottom: 0%;
    border: 0;

}

form{
    box-sizing: content-box;
    margin: 10px;
}

