#submitForm{
    display: flex;
}

input {
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 1.7rem;
    align-items: center;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #6c5ce7;
}


li{
    font-size: 30px;
    background-color:#6c5ce7;
    border-radius: 10px;
    margin-bottom: 10px;
    color:black;
}

li:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 184, 148, 0.3);
}

button {
    width: 20%;
    background: linear-gradient(135deg, #00b894, #00cec9);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    margin-left: 20px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 184, 148, 0.3);
}